.git
.gitignore
.gitattributes
__pycache__
*.pyc
*.pyo
.venv
venv
env
.env
.env.*
*.log
.DS_Store
README.md
ADR.md
BITACORA.md
CHANGELOG.md
DEPLOY.md
.idea
.vscode
*.sublime-*
.pytest_cache
.mypy_cache
.ruff_cache
deploy/
node_modules
